#bground{
    background-image: url(./images/portfolio-wallpapers.jpg);
    min-height: 50vh;
   background-position: center;
    
}

h5{
    color:#FFFAFA;
}

.topname {
    margin-top: 10px;
    color:#000000;
    font-family: "Anton";
    font-weight: bolder;
    text-decoration: underline;
    
}
#stack{
    font-size: 16px;
    font-weight: bold;
    color:#000000;
    ;
}

.skill{
    color:#FFFAFA;
    padding-top: 10px;
}

.proj{
    color: rgb(10, 10, 10);
}

.una{

    color: #e70e0e;
}

.one{
    font-size: 16px;
    font-weight: bold;
    color: #FF8C00;
}

.two{
    font-size: 16px;
    font-weight: bold;
    color: #0f0f0f;
}

.three{
    color:#0f0f0f;
}

.card-header{

    font-family: fantasy;
    font-size: 20px;
}

.full{
    color:#8B4513 ;
    text-decoration: line-through;
}

#contbg{
    background-image: url(./images/coffee-bar.jpg);
    min-height: 100vh;
    background-size: cover;
   
}

#txt{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#titlebot{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000000;
    font-weight: bolder;
}

#bgproj{
    
        background-image: url(./images/maxresdefault.jpg);
        min-height: 100vh;
        background-size: cover;

}